@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  html {
    font-family: 'Inter', sans-serif;
  }
}

@layer components {
  .container {
    @apply max-w-7xl mx-auto px-4 sm:px-6 lg:px-8;
  }

  .even-columns {
    @apply grid md:grid-flow-col md:auto-cols-[1fr];
  }

  /* .btn {
    @apply cursor-pointer inline-flex justify-center items-center px-6 py-3 transition-colors duration-200 ease-in-out hover:shadow-sm;
  }

  .btn-primary {
    @apply bg-primary-700 hover:bg-primary-800 focus:ring-4 focus:ring-primary-300;
  } */
}

@layer utilities {
  .gallery-grid-row {
    grid-template-rows: repeat(3, minmax(0, 0.45fr));
  }

  .tab.active {
    @apply text-primary-500 border-primary-500 hover:border-primary-500;
  }

  .section-padding {
    @apply py-16 lg:py-24 xl:py-32;
  }
}
