
<section class="section-padding">
  <div class="container py-24 sm:py-32">
    <div class="even-columns gap-10">
      <div>
        <picture class="grid">
          <img class="" src="https://picsum.photos/id/237/200/300" alt="">
        </picture>
      </div>
      
      <div>
        <div class="mb-8">
          <h2 class="mb-2 text-sm lg:text-base font-medium  text-secondary-500">Quiénes Somos</h2>
          <p class="text-3xl md:text-4xl tracking-tight leading-tight font-bold text-gray-900 mb-6">Somos líderes en instalacion de puertas</p>
          <p class="text-lg text-light">Somos una empresa con más de 25 años de experiencia ubicada en Nuevo León. Comprometida en ofrecer asesoramiento profesional y oportuno en cada proyecto</p>            
          
        </div>
        <hr class="text-gray-200">               
        <ul class="even-columns gap-6 mt-8">
          <li>
            <h6 class="text-xl font-bold mb-2 text-gray-900">Misión</h6>
            <p>Alcanzar el reconocimiento de nuestros clientes por la calidad en nuestros productos y servicios de instalación de puertas en las ramas industrial, comercial, residencial y hotelera</p>
          </li>
          <li>
            <h6 class="text-xl font-bold mb-2 text-gray-900">Visión</h6>
            <p>Ser una empresa de calidad a nivel nacional, dedicada al suministro en instalación de puertas metálicas y de madera en la industria y construcción</p>
          </li>
        </ul>
       </div>
      
    </div>
  </div>
</section>