---
const {title, description} = Astro.props;
---

<article class="swiper-slide">
    <div>
      <slot /> 
    </div>       
    <div class="my-6">          
      <h4 class="text-lg font-semibold text-primary-500 leading-8">{title}</h4>
      <p class="leading'7">{description}</p>         
    </div>  
</article>