---
const {title, description} = Astro.props;
---

<article class="bg-white border border-gray-200 border-opacity-60 rounded-2xl overflow-hidden shadow-sm">  
    <slot />    
    <div class="p-6">          
      <h4 class="title-font text-lg font-medium text-gray-900 mb-3">{title}</h4>
      <p>{description}</p>         
    </div>  
</article>