---
export interface Props {
  text: string
  href: string
}

const { text, href} = Astro.props
---

<a href={href} class="text-white cursor-pointer inline-flex justify-center items-center text-base w-full sm:w-fit px-6 py-4 transition-all duration-200 ease-in-out hover:shadow-sm bg-primary-500 hover:bg-primary-600 focus:ring-4 focus:ring-primary-300 mb-3 sm:mb-0 sm:mr-2 rounded-lg">
  {text}
  <!-- <svg class="w-4 h-4 ml-2 -mr-1" fill="currentColor" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg"><path fill-rule="evenodd" d="M10.293 3.293a1 1 0 011.414 0l6 6a1 1 0 010 1.414l-6 6a1 1 0 01-1.414-1.414L14.586 11H3a1 1 0 110-2h11.586l-4.293-4.293a1 1 0 010-1.414z" clip-rule="evenodd"></path></svg> -->
</a>