---
export interface Props {
  text: string
  href: string
}

const { text, href} = Astro.props
---


<a href={href} class="inline-flex items-center justify-center text-sm font-medium w-full sm:w-fit px-4 h-[3rem] min-h-[3rem] text-center text-gray-900 border border-gray-300 rounded-lg hover:bg-gray-100 focus:ring-4 focus:ring-gray-100 transition-colors ease-in-out duration-250">
  {text}
</a> 