
<div class="text-center">
<slot />
</div>



<!-- <i class="ph ph-clipboard-text inline-block text-[32px] rounded-full p-4 text-blue-700 bg-gray-100 mb-6"></i>   
<h5 class="text-2xl font-bold mb-4 ">Especificaciones</h5>
<p class="text-base">Desde la selección de materiales hasta las especificaciones de diseño, garantizamos una solución a la medida</p>  -->