<div class="swiper">
  <div class="swiper-wrapper">      
  <slot/>                
  </div>    
  
  <div class="swiper-button-prev shadow-md"></div>      
  <div class="swiper-button-next shadow-md"></div>  
  <!-- If we need pagination -->
  <div class="swiper-pagination"></div>  
</div>

<style>
 .swiper{
    width: 100%; 
    height: 100%;
    padding-inline: 20px           
}  


  
:is(.swiper-button-next, .swiper-button-prev){
  --swiper-navigation-top-offset: 38%; 
  --swiper-navigation-sides-offset: 0%;
  display: flex; 
  align-items: center; 
  justify-content: center;  
  border: none; 
  background: hsl(255, 255%, 180%, 0.8); 
  color: hsl(0, 70%, 51%, 0.9); 
  border-radius: 50%; 
  height: 40px;
  width: 40px; 
  cursor: pointer;
  padding: 16px;    
}

:is(.swiper-button-next, .swiper-button-prev):hover{
  background: hsl(255, 255%, 180%,0.9); 
  color: #DA2C2B;     
  transition: background;
  transition-duration: 200ms;
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1)  
}

.swiper-button-prev:after, .swiper-button-next:after{
  font-size: 16px; 
  font-weight: 700; 
}


.swiper-pagination {
    --swiper-theme-color: hsl(255, 255%, 180%);    --swiper-pagination-bullet-inactive-color: hsl(255, 255%, 180%); 
    --swiper-pagination-bottom: 116px;        
  }

  .swiper-pagination-bullet{
    height: 12px; 
    width: 12px; 
  }
</style>
  
<script>
  import '../js/swiper.js'
</script>




<!--  

<script>
const tabs = document.querySelectorAll('.tab');
const allContent = document.querySelectorAll('.tab-content')

tabs.forEach((tab, index) => {
 tab.addEventListener('click', () => {
   tabs.forEach(tab => tab.classList.remove('active'));
   tab.classList.add('active');
   
   allContent.forEach(content => content.classList.remove('active'))
   allContent[index].classList.add('active')
 })
})
</script> -->

