---
import specBg from "../assets/cta.png"
---

<section class="relative">
  <img class="object-cover w-full h-[16rem] object-center" src={specBg.src} alt="" />    
  <div class="absolute inset-0 hidden bg-gradient-to-t md:block from-white to-transparent"></div>
  <div class="absolute inset-0 block bg-gray-25 md:hidden"></div>    
  <div class="absolute inset-0 hidden bg-gradient-to-t md:block from-white to-transparent"></div>
  <div class="absolute inset-0 block bg-gray-25 md:hidden"></div>
</section>