---

import ButtonOutline from "./ButtonOutline.astro";
const heading = { tagline: 'Contactanos', headingText: 'Comencemos tu proyecto ahora',descriptionText: 'Envíanos un mensaje para comenzar a cotizar tu proyecto'}
---


<section class="bg-primary-500 bg-cover bg-center bg-no-repeat bg-[url('../assets/cta-bg.svg')]">
  <div class="container mx-auto py-16 md:py-28">
    <div class="mx-auto md:max-w-4xl text-center">
      <div class="mb-8">        
        <h2 class="mb-4 text-3xl sm:text-4xl md:text-5xl tracking-tight font-extrabold text-white">{heading.headingText}</h2>
        <p class="text-lg sm:text-xl text-gray-100 font-light max-w-[34em] mx-auto">{heading.descriptionText}</p>   
      </div>
      <ButtonOutline text="Solicita Cotización" href="/contacto" class="white"/> 
    </div>   
  </div>    
</section>


<style>
  .white {
    background: white; 
  }
</style>

