---
import Heading from "./Heading.astro";
import Button from "./Button.astro";
const heading = { tagline: 'Contactanos', headingText: 'Comencemos tu proyecto ahora',descriptionText: 'Envíanos un mensaje para comenzar a cotizar tu proyecto. '}
---


<section class="border border-gray">
  <div class="container py-16 sm:py-28">
    <div class="mx-auto max-w-screen-sm text-center">
      <div class="mb-8">
        <Heading tagline={heading.tagline} headingText={heading.headingText} descriptionText={heading.descriptionText} />
      </div>
      <Button text="Solicita Cotización" href="/contacto"/> 
    </div>
   
  </div>
    
</section>