---
import Link from "./Link.astro";
import ctaImg from "../assets/cta.png"

const heading = { tagline: 'Contactanos', headingText: '¿Listo para Transformar tus Espacios?', descriptionText: 'Da el primer paso para comenzar tu proyecto y ponte en contacto con nosotros para obtener mas información'}
---

<section class="section-padding relative overflow-hidden bg-gray-950">
  <div class="absolute inset-0">
      <img class="object-cover w-full h-full md:object-left md:origin-top-left" src={ctaImg.src} alt="" />
  </div>
  <div class="absolute inset-0 hidden bg-gradient-to-r md:block from-gray-950 to-transparent"></div>
  <div class="absolute inset-0 block bg-gray-950/60 md:hidden"></div>

  <div class="relative container">
      <div class="text-center md:w-2/3 lg:w-1/2 xl:w-1/3 md:text-left">
          <h3 class="text-3xl font-bold leading-tight text-gray-25 sm:text-4xl lg:text-5xl lg:leading-[1.1]">{heading.headingText}</h3>
          <p class="mt-4 text-lg text-gray-200">{heading.descriptionText}</p>
          <Link href="/contacto" class="mt-6">Inicia tu Proyecto</Link>      
      </div>
  </div>
</section>

