---

import Button from "./Button.astro";
const heading = { tagline: 'Contactanos', headingText: 'Comencemos tu proyecto ahora',descriptionText: 'Envíanos un mensaje para comenzar a cotizar tu proyecto. '}
---


<section class="bg-[#f5f7f9]">
  <div class="container mx-auto py-16 sm:py-28">
    <div class="mx-auto max-w-screen-sm text-center">
      <div class="mb-8">        
        <h2 class="mb-4 text-4xl lg:text-5xl tracking-tight font-bold text-gray-900">{heading.headingText}</h2>
        <p class="sm:text-xl">{heading.descriptionText}</p>   
      </div>
      <Button text="Solicita Cotización" href="/contacto"/> 
    </div>   
  </div>    
</section>


