---
import Link from "./Link.astro";
---

<div class="flex flex-col md:flex-row gap-3">
  <Link href="/productos" size="md">Cotizar Puertas</Link>
  <Link href="/productos" style="outline" size="md">Especificaciones</Link>
</div>