---
import logo from '../assets/logo-blue.svg'
---
<footer class="bg-gray-100">
  <div class="container py-10 sm:pt-16 lg:pt-24">
      <div class="md:flex md:justify-between">
          <div class="mb-6 md:mb-0">
              <a aria-label="volver a inicio" href="/" class="flex items-center">
                  <img src={logo.src} class="mr-3 w-32 md:w-full h-auto" alt="Logo Imagen y Espacios" />                 
              </a>
          </div>
          <div class="grid grid-flow-col grid-cols-auto-cols-fr gap-8 sm:gap-x-20">
              <!-- <div>
                  <p class="mb-6 text-sm font-semibold text-gray-900 uppercase dark:text-white">Resources</p>
                  <ul class="text-gray-600 dark:text-gray-400">
                      <li class="mb-4">
                          <a href="https://flowbite.com" class="hover:underline">Flowbite</a>
                      </li>
                      <li>
                          <a href="https://tailwindcss.com/" class="hover:underline">Tailwind CSS</a>
                      </li>
                  </ul>
              </div> -->
              <div>
                  <p class="mb-4 text-xs sm:text-sm font-semibold text-gray-900 uppercase">Empresa</p>
                  <ul class="text-gray-600 flex flex-col gap-3 text-sm">
                      <li class="">
                          <a href="#nosotros" class="transform-color duration-200 ease-out hover:text-primary-500">Nosotros</a>
                      </li>
                      <li class="">
                          <a href="#servicios" class="transform-color duration-200 ease-out hover:text-primary-500">Servicios</a>
                      </li>
                      <li class="">
                          <a href="#productos" class="transform-color duration-200 ease-out hover:text-primary-500">Productos</a>
                      </li>
                      <li>
                          <a href="#proyectos" class="transform-color duration-200 ease-out hover:text-primary-500">Proyectos</a>
                      </li>
                  </ul>
              </div>
              <div>
                  <p class="mb-4 text-xs sm:text-sm font-semibold text-gray-900 uppercase">Contacto</p>
                  <ul class="text-gray-600 flex flex-col gap-3">
                    <li class="flex items-center transform-color duration-200 ease-out hover:text-primary-500">
                      <i class="ph-fill ph-envelope text-xl mr-3"></i>
                      <a class="inline-block w-fit not-italic" href="mailto:imagensa@hotmail.com">imagensa@hotmail.com</a>
                    </li>
                    <li class="flex items-center transform-color duration-200 ease-out hover:text-primary-500">
                      <i class="ph-fill ph-phone text-xl mr-3"></i>
                      <a class="inline-block w-fit not-italic" href="tel:+528183359712">(81) 8335 9712</a>
                    </li>
                    <li class="flex items-center transform-color duration-200 ease-out hover:text-primary-500">
                      <i class="ph-fill ph-whatsapp-logo text-xl  mr-3"></i>
                      <a class="w-fit inline-block not-italic" href="tel:+528183359712">(81) 8180 99 4365</a>
                    </li>
                  </ul> 
              </div>
          </div>
      </div>
      <hr class="my-6 border-gray-300 sm:mx-auto lg:my-8" />
      <div class="sm:flex sm:items-center sm:justify-center">
          <p class="text-sm text-gray-500 smt:text-center">© 2023 Imagen y Espacios S.A de C.V. Todos los Derechos Reservados
          </p>       
        </div> 
      </div>
  </div>
</footer>