---

export interface Props {
  tagline?: string; 
  headingText: string; 
  descriptionText?: string; 
}

const {tagline, headingText, descriptionText } = Astro.props as Props
---


  <span class="inline-block text-sm lg:text-base font-semibold mb-2 text-primary-500">{tagline}</span>
  <h2 class="mb-4 text-3xl sm:text-4xl tracking-tight font-extrabold text-gray-900">{headingText}</h2>
  <p class="sm:text-xl font-light max-w-[34em] mx-auto">{descriptionText}</p>   


