---
import Link from './Link.astro';
import logo from '../assets/logo-blue.svg'
import { Astronav, MenuItems, MenuIcon } from "astro-navbar"

const menuItems = [
    {
        title: "Nosotros", 
        path: "#nosotros"
    }, 
    {
        title: "Servicios", 
        path: "#servicios"
    }, 
    {
        title: "Productos", 
        path: "#productos"
    },
    {
        title: "Proyectos", 
        path: "#proyectos"
    }
]

---

<header> 
    <div class="container | flex flex-col lg:flex-row justify-between items-center my-4">
        <Astronav>
            <div class="flex w-full lg:w-auto items-center justify-between">
                <a href="" class="flex items-center">
                <img src={logo.src} class="h-14" alt="Logo Imagen y Espacios" />              
              </a>
              <div class="block lg:hidden">
                <MenuIcon class="w-6 h-6 text-primary-500" />
              </div>
            </div>          
            <MenuItems class="hidden w-full lg:w-auto mt-2 lg:flex lg:mt-0">
            <ul class="flex flex-col lg:flex-row lg:gap-3">
               {
                menuItems.map((item) => (
                        <li>
                            <a href={item.path} class="flex lg:px-3 py-2 items-center text-gray-600 hover:text-primary-500">{item.title}</a>
                        </li>
                    ))
               }
            </ul>
            </MenuItems>          
        </Astronav>
        <div class="hidden lg:flex items-center gap-4">              
            <Link href="/contacto" size="md" block>Contacto</Link>          
        </div>
      </div> 
</header>

