---
import { SlotString } from 'astro/runtime/server/render/slot.js';
export interface Props {
  tagline?: string; 
  headingText: string; 
  descriptionText?: string; 
}

const {tagline, headingText, descriptionText } = Astro.props as Props
---


  <span class="inline-block text-sm lg:text-base font-semibold mb-3 text-primary-800">{tagline}</span>
  <h2 class="scroll-m-20 text-3xl md:text-4xl tracking-tight font-semibold leading-[1.1] text-gray-900 mb-5">{headingText}</h2>
  <p class="text-xl mx-auto max-w-prose text-gray-500">{descriptionText}</p>   


