---
import { SlotString } from 'astro/runtime/server/render/slot.js';
export interface Props {
  tagline?: string; 
  headingText: string; 
  descriptionText?: string; 
}

const {tagline, headingText, descriptionText } = Astro.props as Props
---


  <span class="inline-block uppercase text-sm lg:text-base font-medium tracking-wider mb-4 text-primary-800">{tagline}</span>
  <h2 class="text-3xl sm:text-4xl lg:text-5xl mb-6 font-bold leading-[1.1] text-gray-900">{headingText}</h2>
  <p class="text-lg">{descriptionText}</p>   


