---
import { SlotString } from 'astro/runtime/server/render/slot.js';
export interface Props {
  tagline?: string; 
  headingText: string; 
  descriptionText?: string; 
}

const {tagline, headingText, descriptionText } = Astro.props as Props
---


  <span class="inline-block text-sm lg:text-base font-medium tracking-wider mb-2 text-primary-800">{tagline}</span>
  <h2 class="scroll-m-20 text-3xl md:text-4xl tracking-tight font-bold leading-[1.1] text-gray-900 mb-4">{headingText}</h2>
  <p class="text-lg mx-auto">{descriptionText}</p>   


