---
import Button from './Button.astro'
import ButtonOutline from './ButtonOutline.astro'
import '../styles/global.css'
---

<section class="bg-[#F6F6F6]">
  <div class="container grid py-20 gap-10 lg:gap-20 lg:py-28 lg:grid-cols-12">
      <div class="mr-auto place-self-center lg:col-span-6">
          <h1 class="scroll-m-20 max-w-2xl text-gray-900 font-bold tracking-tight leading-[1.1] text-4xl md:text-5xl xl:text-6xl md:leading-[1.1] mb-6">Creando accesos para espacios más seguros</h1>
          <p class="max-w-2xl font-light lg:mb-8 md:text-lg lg:text-xl mb-8 text-gray-700">Somos expertos en la creación de proyectos y soluciones de acceso que garantizan la seguridad de las personas</p>
       
          <Button text="Get Started" href="/contacto"/> 
          <ButtonOutline text="Get Started" href=""/>        
               
      </div>
      <div class="lg:mt-0 lg:col-span-6 lg:flex">
      <img src="https://flowbite.s3.amazonaws.com/blocks/marketing-ui/hero/phone-mockup.png" alt="mockup">
      </div>                
  </div>
</section>