---
import Heading from "./Heading.astro";
const images = await Astro.glob('../assets/logos/*').then(files => {
    return files.map(file => file.default)
})
const heading = { tagline: 'Socios de Confianza', title: 'Colaboramos con las mejores marcas',}

---
<section class="section-padding relative isolate">
  <div class="pattern-dots-xl absolute top-0 right-0 w-1/4 h-full text-gray-100 -z-10"></div>    
  <div class="container">
    <div class="mx-auto text-center">     
      <Heading tagline={heading.tagline} title={heading.title}  align="center" taglineColor="secondary-500" titleColor="gray-950"/>    
    </div>: 
    <div class="grid items-center justify-center max-w-4xl grid-cols-3 md:grid-cols-5 mx-auto gap-6 sm:gap-10 mb-12">             
        {images.map(image => (
              <div class="">
                <img
                  class="object-contain w-full h-12"
                  src={image.src}
                  alt={image.alt}
                  loading="lazy"
                />
              </div>
            ))
          }
    </div>
  
  </div> 
</section>



