---
// import { imageConfig } from "astro:assets";
import Heading from "./Heading.astro";
import Tabs from "./Tabs.astro"

const heading = { tagline: 'Productos', headingText: 'Conoce las Soluciones para tu Proyecto',descriptionText: 'Ofrecemos una gama completa de productos y servicios para satisfacer todas tus necesidades'}
---

<section class="bg-[#FFF6ED]">
  <div class="container py-24 sm:py-28">
    <!-- Section Heading -->
    <div class="heading mb-16 lg:mb-20 text-center w-full mx-auto">    
        <Heading tagline={heading.tagline} headingText={heading.headingText} descriptionText={heading.descriptionText} />       
    </div>

    <section class="bg-white rounded-2xl p-6 shadow-md">     
        <Tabs headings={['Puertas Metálicas', 'Puertas Especiales', 'Puertas Madera', "Marcos Metálicos", "Carpintería"]} /> 
    </section>
    
  </div>
</section> 
