---
// import { imageConfig } from "astro:assets";
import Heading from "./Heading.astro";
import Tabs from "./Tabs.astro"

const heading = { tagline: 'Puertas', title: 'Versatilidad para tus proyectos', description: 'Descubre las soluciones de acceso que ofrecemos para todos tus requerimentos'}
---

<section class="section-padding bg-gray-25 relative isolate">
  <div class="pattern-dots-xl absolute inset-0 w-1/3 h-1/5 text-gray-100/80 -z-10"></div> 
  <div class="container">
    <!-- Section Heading -->    
    <Heading tagline={heading.tagline} title={heading.title} description={heading.description} align="center"  taglineColor="secondary-500" titleColor="slate-900"/>          
   

    <section>     
        <Tabs headings={['Metálicas', 'Especiales', 'Madera', "Marcos Metálicos", "Carpintería"]} /> 
    </section>
    
  </div>
</section> 
