---
// import { imageConfig } from "astro:assets";
import Heading from "./Heading.astro";
import Tabs from "./Tabs.astro"

const heading = { tagline: 'Puertas', title: 'Versatilidad para Tus Proyectos', description: 'Descubre las soluciones de acceso que ofrecemos para todos tus requerimentos'}
---

<section id="productos" class="section-padding bg-gray-25 relative isolate"> 
  <div class="container">
    <!-- Section Heading -->    
    <Heading tagline={heading.tagline} title={heading.title} description={heading.description} align="center"  taglineColor="secondary-500" titleColor="gray-950"/>          
   

    <section>     
        <Tabs headings={['Metálicas', 'Especiales', 'Madera', "Marcos Metálicos", "Carpintería"]} /> 
    </section>
    
  </div>
</section> 
