---
export interface Props {
  activeTextColor? : string; 
  headings: string[]; 
  contents: string[]; 
}

const {headings, contents, activeTextColor = '#1d4ed8'} = Astro.props as Props; 
---    


<div class="tabs max-w-4xl mx-auto text-center font-medium border-b border-gray-200 mb-12">
  <ul class="tabs-header flex flex-wrap lg:justify-between -mb-px">
    <li class="me-2"><a href="" class="tab inline-block px-2 py-4 lg:px-4 border-b-2 rounded-t-lg text-primary-600 border-primary-600 active">Puertas Metálicas</a></li>
    <li class="me-2"><a href="" class="tab inline-block px-2 py-4 lg:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300">Puertas Especiales</a></li>
    <li class="me-2"><a href="" class="tab inline-block px-2 py-4 lg:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300">Puertas Madera</a></li>
    <li class="me-2"><a href="" class="tab inline-block px-2 py-4 lg:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300">Marcos Metálicos</a></li>
    <li class=""><a href="" class="tab inline-block px-2 py-4 lg:p-4 border-b-2 border-transparent rounded-t-lg hover:text-gray-600 hover:border-gray-300">Carpintería</a></li>
  </ul>
</div>


<script>
  const tabsContainer = document.querySelector('.tabs')
  const tabsList = tabsContainer.querySelector('.tabs-header')
  const tabButtons = tabsList.querySelectorAll('.tab')
  tabsContainer.addEventListener('click', (e) => {
    const target = e.target as HTMLElement
    const clickedTab = target.closest("a"); 
    if(!clickedTab) return; 
    console.log(clickedTab);
    e.preventDefault(); 
  })

</script>




<!-- 
  <div class="tabs">
    <ul class="tabs-header flex justify-center ">
      {headings.map(heading => (
        <li class="text-gray-700 px-6 py-3">{heading}</li>
      ))}
    </ul>
    <ul class="tabs-content">
      {contents.map(content => (
         <li class="tab"><code>{content}</code></li>
      ))}    
    </ul>
  </div> -->



<!--  
<script define:vars={{activeTextColor}}>
  function createTabs(element) {
  const header = element.querySelector('.tabs-header');
  const content = element.querySelector('.tabs-content');
  const tab_headers = [...header.children];
  const tab_contents = [...content.children];
  tab_contents.forEach((x) => (x.style.display = 'none'));
  let current_tab_index = -1;

  function setTab(index) {
    if (current_tab_index > -1) {
      tab_headers[current_tab_index].style.fontWeight = 400;
      tab_headers[current_tab_index].style.color = '#4b5563';
      tab_contents[current_tab_index].style.display = 'none';
    }
    tab_headers[index].style.fontWeight = 700;
    tab_headers[index].style.color = activeTextColor;
    tab_contents[index].style.display = 'flex';
    current_tab_index = index;
  }

  let default_tab_index = tab_headers.findIndex((x) => {
    return [...x.classList].indexOf('default-tab') > -1;
  });

  default_tab_index = default_tab_index === -1 ? 0 : default_tab_index;
  setTab(default_tab_index);
  tab_headers.forEach((x, i) => (x.onclick = (event) => setTab(i)));
}

// Run
[...document.querySelectorAll('.tabs')].forEach((x) => createTabs(x));
</script> -->